* { padding: 0; margin: 0; margin: auto; }
 
body {background: #404040;/*#31363E;*/ font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-size: 14px; color: #dddddd;}
 
a { text-decoration: underline; color: #82A9D1;/*#659ACF;/*#1E90FF;/*#96A2A9;*/}
a:hover { text-decoration: none;}
a:visited { color: #82A9D1; }

a.cs_act, a.ps_act {
	color: #808080;
}

a.cs, a.ps {
	color: #005B9A;
}

#top { background: #404040; float: center; text-align: center; width: 100%; min-width: 1100px; height: 30px; margin-left: auto ; margin-right: auto; padding-top: 2px; color: #fff;}
#top a { font-size: 14px; color: #ccc; }
#top a:hover { font-size: 14px; color: #ccc; text-decoration: none;}
 
#container {width: 1016px; position:relative; margin-top: 10px; margin-bottom: 20px; overflow: hidden; height: 450px;}
#left, #right {
	float: left; 
	padding: 4px 5px 10px 5px;
	margin: 0px; 
	width: 220px; 
	height: 450px;
	border: 1px solid #818181;
}
#left {text-align:left; background: #515151/*#D8E3C5/*E2F5E4*/;}
#right {text-align:right; background: #515151/*#D8DFEB/*e0f0f4*/;}
#middle { float: left; text-align: left; width: 490px; margin-left: 30px; margin-right: 30px; height: 450px;}
#footer { font-size: 10px; text-align: center; color: #7f7f7f; padding: 10px;}
 
#inputs { margin-top: 10px;}
 
.field { margin: 10px 0 20px 0; }
 
fieldset { border: 0px none;}
/* 
input[type=text] { background-color: #fff; font-size: 14px; padding: 1px;}
*/ 
/*
input.button { font-size: 19px;}
 
button {font-size: 14px; width: 5em;}
 
label { margin: 15px 0 15px 0;}
*/
 
div.persi{display: none;}

ul.river {cursor: pointer;} 

ul.river li{list-style-type: none; height: 3em;}

ul.river li:hover > div.persi{background: #AEC5DD; display: block; color: #886818}
 
/* #river a {color: #0038c8; text-decoration: none; padding: 4px;}
 
#river a:hover {color: #0038c8; background-color:#eafcff; padding: 4px;}
*/
/* 
p { margin: 10px 0 15px 0; }
 
h1 { font-size: 3em;}
h2 { font-size: 2em;}
h3 { font-size: 1em;}
*/
/*
added by vasya
*/
/* 
hr {
	border-bottom: 1px dotted #9EB784;
	border-top: 0px;
	height: 0px;
	margin-top: 3px;
}
*/

div.sheet{
/* cover whole page, using before dialog window*/
	display: none;
	position: fixed;
	background-color: #404040;
	width: 100%;
	height:100%;
	z-index: 5;
	opacity: 0.7;
}

div.div_dialog{
/* dialog window */
	width: 460px;
	height: 340px;
	border: 1px solid #818181;
	background-color: #606060;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -170px;
	margin-left: -230px;
	z-index: 10;
	display: none;
}

div.div_dialog_close{
/* close dialog window div*/
	float: right;
	color: #FF7F50;
	font-size: 9pt;
	border-left: 1px dotted #818181;
	border-bottom: 1px dotted #818181;
	cursor: pointer;
	padding: 2px;
}

div.let_dialheader{
/* header in letter dialog*/
	padding: 4px;
	font-size: 12pt;
}

table.let_table{
/* formating data in letter dialog */
	margin: 4px;
	width: 100%;
}


div.separator{
  background: #515151;/*#B0C4DE;*/
  padding: 2px;
  color: #FF8C00;
  border: 1px solid #818181;
}

div.list_header{
  padding-bottom: 8px;
  color: #FF8C00;
  /*border-bottom: 1px solid #818181;*/
  font-size: 12pt;
  text-align: center;
}

div.list_menu{
	border-bottom: 1px solid #818181;
	padding-bottom: 4px;
	font-size: 9pt;
}

div.list_menu a, #conn_remove{
	color: #96A2A9;
}

div.scrollable{
	padding: 20px 25px 10px 25px;
	height: 330px !important;
	overflow: auto;
}
/*
a.prev, a.next{
	width: 18px;
	height: 18px;
	display: block;
	margin: 1px;
}
a.next:hover, a.prev:hover{
	background-position: 0 -18px;
}
a.prev{
	background: transparent url(../img/up.png) no-repeat scroll 0 0;
}
a.next{
	background: transparent url(../img/down.png) no-repeat scroll 0 0;
}
*/

div.list_status{
	font-family: Arial,Verdana;
	font-size: 10pt;
	border-top: 1px dotted #505050;
	padding-top: 4px;
}
 
#ldiv {
  float: left;
  min-width: 100px;
  width: 25%;
  display: inline-block;
}
 
#rdiv {
  float: right;
  min-width: 300px;
  width: 75%;
  text-align: right;
  display: inline-block;
}
 
 
table.skills_tb{
  text-align: center;
  cursor: pointer;
}
 
#edit_skills_tb{
  cursor: pointer;
}
 
p.header{
  background-color: #515151; /*#FFC0CB;*/
  /*border: 1px dashed #808080;*/
  padding: 2px;
}

table.left_right tr td:first-child + td{
	text-align: right;
	font-size: 10pt;
}
 
table.pinfo{
  width: 100%;
  padding: 5px;
  border: 0px;
  border-spacing: 3px;
}
 
table.sinfo{
  width: 100%;
  font-size: 10pt;
  font-family: Courier New, Arial, Helvetica;
  text-align: left;
  padding-left: 10px;
}

 
div.separator_l{
  display: inline;
  text-align: left;
  width: 50%;
}
 
div.separator_r{
  display: inline;
  text-align: right;
  width: 50%;
}
 
div.skstr{
  font-size: 10pt;
  font-family: Courier New, Arial, Helvetica;
}
 
sup.red{
  color: #ff0000;
}
 
/*connections */
#conn_h {
  background-color: #B0C4DE; /*#CCCC99;*/
  text-align: center;
  height: 30px;
  vertical-align: center;
}

 
#conn_h td {
  border: 1px solid #C0C0C0;
}

#conn {
	border-collapse: collapse;
	width: 460px;
}
#conn td {
	padding-left: 5px;
	vertical-align: top;
	padding-bottom: 6px;
	padding-top: 6px;
}
/*
#conn col.del_col{
	width: 25px;
}
*/
#conn col.l_col, col.n_col{
	width: 130px;
}
#conn col.sep_col{
	width: 45px;
}

#conn td.text_align_right{
	text-align: right;
}

#conn tbody[id]:hover{
/* to color a row in connections under mouse*/
	background-color: #656565;/*#AEC5DD*/
	cursor: pointer;
}

#conn div.con_inf_div{
	margin-top: -6px;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-left: 2px;
	border: 1px dotted #606060;
	font-size: 10pt;
	background-color: #404040;
}

#conn td.con_inf_cell{
	cursor: default;
}

#conn td.con_inf_cell:hover td{
	background-color: #404040;
}

#conn div.con_inf_div td{
	padding: 1px;
}


.code_text{
/* show skills in green font*/
	font-family: Courier New, Verdana;
	color: #5BBE5B;/*#269F21;*/
}

.status_text{
	color: #FAF1AF;/*#F0E68C;*/
}
/*
tr.status_row{
	font-size: 10pt;
	font-family: Verdana,Arial;
}
tr.status_row td:first-child{
	text-align: right;
}
tr.sep_row1{
	height: 15px;
}
tr.sep_row2{
	height: 30px;
}
*/

#join_with{
  position: absolute;
  z-index: 100;
  border: 1px solid #a0a0a0;
  background-color: #ffffff;
  font-size: 10pt;
  left: 0px;
  top: 28px;
  display: none;
  overflow: auto;
}

#conn_cont {
	overflow: auto;
	height: 380px;
}

#conn_menu{
	font-size: 12pt;
	/*margin-bottom: 10px;*/
	border-bottom: 1px solid #909090;
} 
#conn_menu div{
	display: inline-block;
	margin-right: 10px;
	background-color: #DCE0E4;
	padding: 4px;
	border-left: 1px solid #909090;
	border-top: 1px solid #909090;
	border-right: 1px solid #909090;
	border-bottom: 1px solid #DCE0E4;
	cursor: pointer;
	z-index: 2;
}
#conn_menu div.active{
	background-color: #B0C4DE;
	border-left: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid #d1d1d1;
}
 
div.pages{
	text-align: right;
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: #008080;
	width: 460px;
	bottom: 2px;
	position: absolute;
}

div.progress{
/* display div with status while saving letter*/
	display: none;
	background-color: #8FBC8F;/*#D74E4E*/
	border: 1px solid #000000;
	width: 140px;
	font-size: 10pt;
	padding: 1px 1px 1px 3px;
}

#letter{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	font-size: 12px;
}

div.f_block{
	padding-top: 10px;
}

div.list_menu div{
	vertical-align: top;
	display: inline-block;
}

a.xpage{
	background: #D2C7B8;
	padding: 0px 6px;
	border: 1px solid #707070;
	color: #006699;
	text-decoration: none;
}

div.status_rainbow>div, div[class~='rbw_el']{
/* container for rainbow elements in the bottom*/
	width: 8px;
	height: 8px;
	display: inline-block;
}

/*rainbow elements. number corresponds to feedback status*/
div.col_0{ background-color: #BA55D3; /*violet*/}
div.col_1{ background-color: #1E90FF; /*blue*/} 
div.col_2 { background-color: #008000; /*green*/}
div.col_3{ background-color: #FFD700; /*yellow*/}
div.col_4{ background-color: #DC143C; /*red*/}