* { padding: 0; margin: 0; margin: auto; }
 
body {background: #d1d1d1; font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; font-size: 14px;}
 
a { text-decoration: underline; color: #1500ff;}
a:hover { text-decoration: none;}
a:visited { color: #1500ff; }
 
#top { background: #000; float: center; text-align: center; width: 100%; min-width: 1100px; height: 30px; margin-left: auto ; margin-right: auto; padding-top: 2px; color: #fff;}
#top a { font-size: 14px; color: #ccc; }
#top a:hover { font-size: 14px; color: #ccc; text-decoration: none;}
 
#container {width: 1070px; position:relative; margin-top: 10px; margin-bottom: 20px; overflow: hidden; height: 450px;}
#left, #right {
	float: left; 
	padding: 10px 30px 30px 30px; 
	margin: 0px; 
	width: 200px; 
	height: 450px;
}
#left {text-align:left; background: #E2F5E4;}
#right {text-align:right; background: #e0f0f4;}
#middle { float: left; text-align: left; width: 490px; margin-left: 30px; margin-right: 30px; height: 450px; overflow: auto;}
#footer { font-size: 10px; text-align: center; color: #7f7f7f; padding: 10px;}
 
#inputs { margin-top: 10px;}
 
.field { margin: 10px 0 20px 0; }
 
fieldset { border: 0px none;}
/* 
input[type=text] { background-color: #fff; font-size: 14px; padding: 1px;}
*/ 
input.button { font-size: 19px;}
 
button {font-size: 14px; width: 5em;}
 
label { margin: 15px 0 15px 0;}
 
 
 
ul.river li{list-style-type: none; height: 3em;}
 
/* #river a {color: #0038c8; text-decoration: none; padding: 4px;}
 
#river a:hover {color: #0038c8; background-color:#eafcff; padding: 4px;}
*/
 
p { margin: 10px 0 15px 0; }
 
h1 { font-size: 3em;}
h2 { font-size: 2em;}
h3 { font-size: 1em;}
 
/*
added by vasya
*/
 
hr {
  border-top: 1px dashed;
  height: 1px;
}
 
div.separator{
  background: #B0C4DE;
}
 
#ldiv {
  float: left;
  min-width: 100px;
  width: 25%;
}
 
#rdiv {
  float: right;
  min-width: 300px;
  width: 75%;
}
 
span.rollup{
  color: blue;
  cursor: pointer;
}
 
table.skills_tb{
  text-align: center;
  cursor: pointer;
}
 
table.edit_skills_tb{
  cursor: pointer;
}
 
p.header{
  background-color: #E6E6FA; /*#FFC0CB;*/
  border: 1px dashed #808080;
  padding: 2px;
  width: 100%;
}
 
table.pinfo{
  width: 100%;
  padding: 5px;
  border: 0px;
  border-spacing: 3px;
}
 
table.sinfo{
  width: 100%;
  font-size: 11pt;
  font-family: Courier New, Arial, Helvetica;
  text-align: left;
  border-spacing: 3px;
}
 
div.separator_l{
  display: inline;
  text-align: left;
  width: 50%;
}
 
div.separator_r{
  display: inline;
  text-align: right;
  width: 50%;
}
 
div.skstr{
  font-size: 10pt;
  font-family: Courier New, Arial, Helvetica;
}
 
sup.red{
  color: #ff0000;
}
 
/*connections */
#conn_h {
  background-color: #B0C4DE; /*#CCCC99;*/
  text-align: center;
  height: 30px;
  vertical-align: center;
}
 
#conn_h td {
  border: 1px solid #C0C0C0;
}

#conn {
	border-collapse: collapse;
	width: 460px;
}
#conn td {
	padding-left: 5px;
	vertical-align: top;
}


#conn col.del_col{
	width: 25px;
}
#conn col.def_col{
	width: 100px;
}
#conn col.sep_col{
	width: 25px;
}

#conn tbody{
	border-bottom: 1px solid #A0A0A0;
}
#conn tbody tr:first-child td:first-child{
	text-align: right;
}

#conn td.code_text{
	font-family: Courier New, Verdana;
	color: #269F21;
}

tr.status_row{
	font-size: 10pt;
	font-family: Verdana,Arial;
}
tr.status_row td:first-child{
	text-align: right;
}
tr.sep_row1{
	height: 15px;
}
tr.sep_row2{
	height: 30px;
}

#join_with{
  position: absolute;
  z-index: 100;
  border: 1px solid #a0a0a0;
  background-color: #ffffff;
  font-size: 10pt;
  left: 0px;
  top: 28px;
  display: none;
  overflow: auto;
}
#conn_cont {
	background-color: #DCE0E4;
}

#conn_menu{
	font-size: 12pt;
	/*margin-bottom: 10px;*/
	border-bottom: 1px solid #909090;
} 
#conn_menu div{
	display: inline-block;
	margin-right: 10px;
	background-color: #DCE0E4;
	padding: 4px;
	border-left: 1px solid #909090;
	border-top: 1px solid #909090;
	border-right: 1px solid #909090;
	border-bottom: 1px solid #DCE0E4;
	cursor: pointer;
	z-index: 2;
}
#conn_menu div.active{
	background-color: #B0C4DE;
	border-left: 1px solid;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid #d1d1d1;
}
 
div.pages{
	text-align: right;
	font-family: Verdana, Arial;
	font-size: 10pt;
	color: #008080;
	width: 460px;
	border-bottom: 1px dotted #808080;
	padding-bottom: 4px;
}

div.progress{
	display: none;
	background-color: #D74E4E;
	border: 1px solid #000000;
	width: 120px;
}

#letter{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; 
	font-size: 12px;
}

#upload { }
 
#connections { }